<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<title>404 Error - SB Admin</title>
	<link th:href="@{/css/admin/styles.css}" rel="stylesheet" />
	<script th:src="@{/js/admin/fontawesome-all.js}" crossorigin="anonymous"></script>
</head>

<body>
	<div class="container">
		<div class="row justify-content-center mt-5">
			<div class="col-md-6 text-center">
				<h1>404</h1>
				<h1 class="mt-4">Oops! Trang bạn tìm kiếm không tồn tại.</h1>
				<p class="mt-4">
					Trang bạn đang tìm kiếm có thể đã bị di chuyển hoặc không tồn tại.
					Vui lòng kiểm tra lại đường dẫn hoặc quay lại trang chủ.
				</p>
				<a th:href="@{/}" class="btn btn-primary mt-3">Quay lại trang chủ</a>
			</div>
		</div>
	</div>

	<script th:src="@{/js/admin/bootstrap.bundle.min.js}" crossorigin="anonymous"></script>
	<script th:src="@{/js/admin/scripts.js}"></script>
</body>

</html>
