<!DOCTYPE html>
<html class="no-js" lang="zxx">
<head>
<meta charset="utf-8" />
<meta http-equiv="x-ua-compatible" content="ie=edge" />
<title>Checkout</title>
<meta name="description" content="" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<!-- Favicons -->
<link rel="shortcut icon" href="images/favicon.ico" />
<link rel="apple-touch-icon" href="images/icon.png" />

<!-- Google font (font-family: 'Roboto', sans-serif; Poppins ; Satisfy) -->
<link
	href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800"
	rel="stylesheet" />
<link
	href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,600,600i,700,700i,800"
	rel="stylesheet" />
<link
	href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"
	rel="stylesheet" />

<!-- Stylesheets -->
<link rel="stylesheet" href="css/bootstrap.min.css" />
<link rel="stylesheet" href="css/plugins.css" />
<link rel="stylesheet" href="css/style.css" />

<!-- Cusom css -->
<link rel="stylesheet" href="css/custom.css" />

<!-- Modernizer js -->
<script src="js/vendor/modernizr-3.5.0.min.js"></script>
<style>
.mainmenu__nav .meninmenu li a {
	color: white;
}

.submit {
	display: inline-block;
	padding: 20px 60px;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	background-color: #4caf50; /* Màu nền của nút */
	color: #fff; /* Màu chữ trên nút */
	border: none; /* Loại bỏ viền */
	border-radius: 4px; /* Bo góc nút */
	cursor: pointer;
	transition: background-color 0.3s; /* Hiệu ứng chuyển màu khi hover */
}

.submit:hover {
	background-color: #45a049; /* Màu nền khi hover */
}

.submit:active {
	background-color: #3e8e41; /* Màu nền khi được nhấn */
}

/* CSS cho nút submit khi bị vô hiệu hóa */
.submit:disabled {
	background-color: #ccc; /* Màu nền khi vô hiệu hóa */
	cursor: not-allowed; /* Đổi con trỏ chuột khi vô hiệu hóa */
}
</style>
</head>
<body>
	<!-- Main wrapper -->
	<div class="wrapper" id="wrapper">
		<!-- Header -->
		<header id="wn__header"
			class="header__area header__absolute sticky__header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-6 col-sm-6 col-6 col-lg-2">
						<div class="logo">
							<a href="index.html"> <img src="images/logo/Rooks-Logo.png"
								class="logo" alt="logo images" />
							</a>
						</div>
					</div>
					<div class="col-lg-8 d-none d-lg-block">
						<nav class="mainmenu__nav">
							<ul class="meninmenu d-flex justify-content-start">
								<li class="drop with--one--item"><a href="index.html">Home</a>
								</li>
								<li class="drop"><a href="#">Shop</a></li>

								<li class="drop"><a href="#">Categories</a>
									<div class="megamenu dropdown">
										<ul class="item item01">
											<li><a href="my-account.html">My Account</a></li>
											<li><a href="cart.html">Cart Page</a></li>
											<li><a href="checkout.html">Checkout Page</a></li>
											<li><a href="wishlist.html">Wishlist Page</a></li>
										</ul>
									</div></li>
								<li><a href="contact.html">Contact</a></li>
							</ul>
						</nav>
					</div>
					<div class="col-md-6 col-sm-6 col-6 col-lg-2">
						<ul
							class="header__sidebar__right d-flex justify-content-end align-items-center">
							<li class="shop_search"><a class="search__active" href="#"></a>
							</li>
							<li class="wishlist"><a href="wishlist.html"></a></li>
							<li class="shopcart"><a href="cart.html"><span
									class="product_qun">3</span></a></li>

							<li class="setting__bar__icon"><a class="setting__active"
								href="#"></a>
								<div class="searchbar__content setting__block">
									<div class="content-inner">
										<div class="switcher-currency">
											<strong class="label switcher-label"> <span>My
													Account</span>
											</strong>
											<div class="switcher-options">
												<div class="switcher-currency-trigger">
													<div class="setting__menu">
														<span><a href="#">My Account</a></span> <span><a
															href="#">Sign In</a></span> <span><a href="#">Create
																An Account</a></span>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div></li>
						</ul>
					</div>
				</div>
			</div>
		</header>

		<!-- //Header -->
		<!-- Start Search Popup -->
		<div class="box-search-content search_active block-bg close__top">
			<form id="search_mini_form" class="minisearch" action="#">
				<div class="field__search">
					<input type="text" placeholder="Search entire store here..." />
					<div class="action">
						<a href="#"><i class="zmdi zmdi-search"></i></a>
					</div>
				</div>
			</form>
			<div class="close__wrap">
				<span>close</span>
			</div>
		</div>
		<!-- End Search Popup -->
		<!-- Start Bradcaump area -->
		<div class="ht__bradcaump__area bg-image--4">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="bradcaump__inner text-center">
							<h2 class="bradcaump-title">Checkout</h2>
							<nav class="bradcaump-content">
								<a class="breadcrumb_item" href="index.html">Home</a> <span
									class="brd-separetor">/</span> <span
									class="breadcrumb_item active">Checkout</span>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Bradcaump area -->
		<!-- Start Checkout Area -->
		<section class="wn__checkout__area section-padding--lg bg__white">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-12">
						<div class="customer_details">
							<h3 class="mb-4">Billing details</h3>
							<form action="#">
								<div class="customar__field">
									<div class="input_box w--75">
										<label>Full name <span>*</span></label> <input type="text" />
									</div>

									<div class="input_box w--75">
										<label>Phone <span>*</span></label> <input type="text" />
									</div>

									<div class="input_box w--75">
										<label>Email address <span>*</span></label> <input
											type="email" />
									</div>
									<div class="input_box w--75">
										<label>Delivery address <span>*</span></label>
										<textarea name="" id="" cols="70" rows="5"></textarea>
									</div>
								</div>
								<button type="submit" class="btn-success submit">order
								</button>
							</form>
						</div>
					</div>
					<div class="col-lg-6 col-12 md-mt-40 sm-mt-40">
						<div class="wn__order__box">
							<h3 class="onder__title">Your order</h3>
							<ul class="order__total">
								<li>Product</li>
								<li>Total</li>
							</ul>
							<ul class="order_product">
								<li>Buscipit at magna × 1<span>$48.00</span></li>
								<li>Buscipit at magna × 1<span>$48.00</span></li>
								<li>Buscipit at magna × 1<span>$48.00</span></li>
								<li>Buscipit at magna × 1<span>$48.00</span></li>
							</ul>

							<ul class="total__amount">
								<li>Order Total <span>$223.00</span></li>
							</ul>
						</div>
						<div id="accordion" class="checkout_accordion mt--30"
							role="tablist">
							<div class="payment">
								<div class="che__header" role="tab" id="headingThree">
									<a class="collapsed checkout__title" data-toggle="collapse"
										href="#collapseThree" aria-expanded="false"
										aria-controls="collapseThree"> <span>Cash
											on Delivery</span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Checkout Area -->
		<!-- Footer Area -->
		<footer id="wn__footer" class="footer__area bg__cat--8 brown--color">
			<div class="footer-static-top">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<div class="footer__widget footer__menu">
								<div class="ft__logo">
									<a href="index.html"> <img src="images/logo/3.png"
										alt="logo" />
									</a>
								</div>
								<div class="footer__content">
									<ul
										class="social__net social__net--2 d-flex justify-content-center">
										<li><a href="#"><i class="bi bi-facebook"></i></a></li>
										<li><a href="#"><i class="bi bi-google"></i></a></li>
										<li><a href="#"><i class="bi bi-twitter"></i></a></li>
										<li><a href="#"><i class="bi bi-linkedin"></i></a></li>
										<li><a href="#"><i class="bi bi-youtube"></i></a></li>
									</ul>
									<ul class="mainmenu d-flex justify-content-center">
										<li><a href="index.html">Best Seller</a></li>
										<li><a href="index.html">All Product</a></li>
										<li><a href="index.html">Contact</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!-- //Footer Area -->
	</div>
	<!-- //Main wrapper -->

	<!-- JS Files -->
	<script src="js/vendor/jquery-3.2.1.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/plugins.js"></script>
	<script src="js/active.js"></script>
</body>
</html>
