<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Rook Book Store</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Favicons -->
	<link th:href="@{/images/favicon.ico}" rel="shortcut icon">
	<link th:href="@{/images/icon.png}" rel=" apple-touch-icon" }>

	<!-- Google font (font-family: 'Roboto', sans-serif; Poppins ; Satisfy) -->
	<link th:href="@{/css/user/open_sans.css}" rel="stylesheet">
	<link th:href="@{/css/user/poppins.css}" rel="stylesheet">
	<link th:href="@{/css/user/roboto.css}" rel="stylesheet">

	<!-- Stylesheets -->
	<link th:href="@{/css/user/bootstrap.min.css}" rel="stylesheet">

	<!-- Plugins css -->
	<link th:href="@{/css/user/font-awesome.min.css}" rel="stylesheet">
	<link th:href="@{/css/user/bicon.min.css}" rel="stylesheet">
	<link th:href="@{/css/user/pe-icon-7-stroke.css}" rel="stylesheet">
	<link th:href="@{/css/user/slick.min.css}" rel="stylesheet">
	<link th:href="@{/css/user/fakeloader.css}" rel="stylesheet">
	<link th:href="@{/css/user/nivo-slider.css}" rel="stylesheet">
	<link th:href="@{/css/user/nivo-preview-2.css}" rel="stylesheet">
	<link th:href="@{/css/user/owl.carousel.min.css}" rel="stylesheet">
	<link th:href="@{/css/user/owl.theme.default.min.css}" rel="stylesheet">
	<link th:href="@{/css/user/material-design-iconic-font.min.css}" rel="stylesheet">
	<link th:href="@{/css/user/animation.css}" rel="stylesheet">
	<link th:href="@{/css/user/fancybox.css}" rel="stylesheet">
	<link th:href="@{/css/user/mainmenu.css}" rel="stylesheet">
	<link th:href="@{/css/user/fotorama.css}" rel="stylesheet">
	<link th:href="@{/css/user/jquery-ui.min.css}" rel="stylesheet">
	<link th:href="@{/css/user/lightbox.css}" rel="stylesheet">
	<link th:href="@{/css/user/style.css}" rel="stylesheet">

	<!-- Cusom css -->
	<link th:href="@{/css/user/custom.css}" rel="stylesheet">

	<!-- Modernizer js -->
	<script th:src="@{/js/user/vendor/modernizr-3.5.0.min.js}"></script>

	<style>
		.mainmenu__nav .meninmenu li a {
			color: white;
		}
	</style>

	<style>
		.ft__logo a img {
			max-width: 20%;
		}
	</style>

</head>

<body>


	<!-- Main wrapper -->
	<div class="wrapper" id="wrapper">

		<!-- Header -->
		<header th:replace="user/fragments/header :: header"></header>
		<!-- //Header -->
		<!-- End Search Popup -->
		<!-- Start Bradcaump area -->
		<div class="ht__bradcaump__area bg-image--6">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="bradcaump__inner text-center">
							<h2 class="bradcaump-title">Contact Us</h2>
							<nav class="bradcaump-content">
								<a class="breadcrumb_item" th:href="@{/}">Home</a>
								<span class="brd-separetor">/</span>
								<span class="breadcrumb_item active">Contact Us</span>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Bradcaump area -->
		<!-- Start Contact Area -->

		<section class="wn_contact_area bg--white pt--80 pb--80">

			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-12">
						<div class="contact-form-wrap">
							<h2 class="contact__title">Contact us</h2>
							<div th:if="${param.success}" class="alert alert-success" th:text="${thankForContacting}" role="alert">
							</div>
							<!-- ... -->
							<form th:action="@{/contact/submit}" th:method="post" th:object="${contact}">
								<div class="mb-3">
									<label for="fullname" class="form-label">Full Name</label>
									<input type="text" class="form-control" id="fullname" th:field="*{name}" required>
								</div>
								<div class="mb-3">
									<label for="email" class="form-label">Email</label>
									<input type="email" class="form-control" id="email" th:field="*{email}" required>
								</div>
								<div class="mb-3">
									<label for="title" class="form-label">Title</label>
									<input type="text" class="form-control" id="title" th:field="*{subject}"  required>
								</div>
								<div class="mb-3">
									<label for="message" class="form-label">Message</label>
									<textarea class="form-control" id="message" name="message" th:field="*{message}" rows="4" required></textarea>
								</div>
								<button type="submit" class="btn btn-dark">Submit</button>
							</form>
							<!-- ... -->

						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Contact Area -->
		<!-- Footer Area -->
		<footer th:replace="user/fragments/footer :: footer"></footer>
		<!-- //Footer Area -->


	</div>
	<!-- //Main wrapper -->
	<!-- JS Files -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

	<script th:src="@{/js/user/vendor/jquery-3.2.1.min.js}"></script>
	<script th:src="@{/js/user/popper.min.js}"></script>
	<script th:src="@{/js/user/bootstrap.min.js}"></script>
	<script th:src="@{/js/user/plugins.js}"></script>
	<script th:src="@{/js/user/active.js}"></script>
	<!-- Google Map js -->

	<script th:src="@{/js/user/active.js}"></script>

</body>

</html>