<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Rook Book Store</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Favicons -->
	<link th:href="@{/images/favicon.ico}" rel="shortcut icon">
	<link th:href="@{/images/icon.png}" rel=" apple-touch-icon" }>

	<!-- Google font (font-family: 'Roboto', sans-serif; Poppins ; Satisfy) -->
	<link th:href="@{/css/user/open_sans.css}" rel="stylesheet">
	<link th:href="@{/css/user/poppins.css}" rel="stylesheet">
	<link th:href="@{/css/user/roboto.css}" rel="stylesheet">

	<!-- Stylesheets -->
	<link th:href="@{/css/user/bootstrap.min.css}" rel="stylesheet">

	<!-- Plugins css -->
	<link th:href="@{/css/user/font-awesome.min.css}" rel="stylesheet">
	<link th:href="@{/css/user/bicon.min.css}" rel="stylesheet">
	<link th:href="@{/css/user/pe-icon-7-stroke.css}" rel="stylesheet">
	<link th:href="@{/css/user/slick.min.css}" rel="stylesheet">
	<link th:href="@{/css/user/fakeloader.css}" rel="stylesheet">
	<link th:href="@{/css/user/nivo-slider.css}" rel="stylesheet">
	<link th:href="@{/css/user/nivo-preview-2.css}" rel="stylesheet">
	<link th:href="@{/css/user/owl.carousel.min.css}" rel="stylesheet">
	<link th:href="@{/css/user/owl.theme.default.min.css}" rel="stylesheet">
	<link th:href="@{/css/user/material-design-iconic-font.min.css}" rel="stylesheet">
	<link th:href="@{/css/user/animation.css}" rel="stylesheet">
	<link th:href="@{/css/user/fancybox.css}" rel="stylesheet">
	<link th:href="@{/css/user/mainmenu.css}" rel="stylesheet">
	<link th:href="@{/css/user/fotorama.css}" rel="stylesheet">
	<link th:href="@{/css/user/jquery-ui.min.css}" rel="stylesheet">
	<link th:href="@{/css/user/lightbox.css}" rel="stylesheet">
	<link th:href="@{/css/user/style.css}" rel="stylesheet">


	<link th:href="@{/css/user/custom.css}" rel="stylesheet">

	<!-- Modernizer js -->
	<script th:src="@{/js/user/vendor/modernizr-3.5.0.min.js}"></script>

	<style>
		.mainmenu__nav .meninmenu li a {
			color: white;
		}

		.product-details-img {
			max-width: 450px;
		}
	</style>

	<style>
		.ft__logo a img {
			max-width: 20%;
		}
	</style>

</head>


<body>
	<!-- Main wrapper -->
	<div class="wrapper" id="wrapper">
		<!-- Header -->
		<header th:replace="user/fragments/header :: header"></header>
		<!-- //Header -->

		<!-- Start Bradcaump area -->
		<div class="ht__bradcaump__area bg-image--4">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="bradcaump__inner text-center">
							<h2 class="bradcaump-title">Product details</h2>
							<nav class="bradcaump-content">
								<a class="breadcrumb_item" th:href="@{/}">Home</a>
								<span class="brd-separetor">/</span>
								<span class="breadcrumb_item active">Product details</span>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Bradcaump area -->
		<!-- Start main Content -->
		<div class="maincontent bg--white pt--80 pb--55">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-12">
						<div class="wn__single__product">
							<div class="row">
								<div class="col-lg-6 col-12">
									<div class="wn__fotorama__wrapper img-container">
										<img class="product-details-img"
											th:src="@{/cover_images/__${product.coverImage}__}" alt="" />
									</div>
								</div>
								<div class="col-lg-6 col-12">
									<div class="product__info__main">
										<h1 th:text="${product.title}"></h1>

										<div class="price-box">
											<span
													th:text="${#numbers.formatDecimal(__${(product.salePrice)}__, 0, 'POINT', 0, 'POINT')} + ' VND'"
											></span>
										</div>
										<div class="product__overview">
											<p th:text="${product.description}">

											</p>

										</div>
										<div class="box-tocart d-flex">
											<span>Quantity</span>
											<input id="qty" class="input-text qty" name="qty" min="1" value="1"
												title="Qty" type="number" />
											<div class="addtocart__actions">
												<button class="btn btn-danger text-light py-2 px-4"
													th:onclick="'addToCart(' + ${product.id} + ')'">
													Add to Cart
												</button>
											</div>
										</div>
										<div class="box-tocart d-flex">
											<div class="addtocart__actions">
												<button class="btn-dark text-light py-2 px-4 btn"
												th:onclick="'addToWishlist('+${product.id} +')'"
												>
													Add to Wishlist
												</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="product__info__detailed">
							<div class="pro_details_nav nav justify-content-start" role="tablist">
								<a class="nav-item nav-link active" data-toggle="tab" href="#nav-details"
									role="tab">Details</a>
							</div>
							<div class="tab__container">
								<!-- Start Single Tab Content -->
								<div class="pro__tab_label tab-pane fade show active" id="nav-details" role="tabpanel">
									<table>
										<tr>
											<th>ID</th>
											<td th:text="${'#'+ product.id }"></td>
										</tr>

										<tr>
											<th>Authors</th>
											<td th:text="${product.author }"></td>
										</tr>
										<tr>
											<th>Publisher</th>
											<td th:text="${product.publisher }"></td>
										</tr>
										<tr>
											<th>Quantity in stock</th>
											<td th:text="${product.qty}"></td>
										</tr>

										<tr>
											<th>Number of pages</th>
											<td th:text="${product.numberOfPages}"></td>
										</tr>
										<tr>
											<th>Published date</th>
											<td th:text="${#dates.format(product.publishedDate, 'dd-MM-yyyy')}"></td>
										</tr>

									</table>
								</div>
								<!-- End Single Tab Content -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script>

			function addToWishlist(productId){

				$.ajax({
					type: "POST",
					url: "/wishlist/add",
					data: {
						bookId: productId
					},
					success: function(response) {
						if(response === "ok")
						{
							alert("Đã thêm vào danh sách yêu thích !")
						}else{
							alert("Bạn cần đăng nhập trước");
							window.location.href = "/login";
						}
					},
					error: function(xhr, status, error) {

						alert("Đã có lỗi : " + error);
					}
				});
			}
			function addToCart(productId) {
				var qty = $('#qty').val(); // Lấy giá trị từ trường input
				var data = JSON.stringify({"productId": productId, "quantity": qty});

				console.log(productId)
				$.ajax({
					type: "POST",
					url: "/cart/add-to-cart",
					contentType: "application/json",
					data: data,
					success: function (data) {
						if (data === "ok") {
							alert("Thêm sản phẩm vào giỏ thành công");
							// Update cart quantity in the header
							updateCartQuantity();
						} else {
							alert("Bạn cần đăng nhập trước");
							window.location.href = "/login"; // Update the URL accordingly
						}
					},
					error: function () {
						alert("Đã xảy ra lỗi");
					}
				});
			}

			function updateCartQuantity() {
				$.ajax({
					type: "GET",
					url: "/cart/cart-item-count",  // Replace with the actual endpoint to get cart item count
					success: function (data) {
						$("#cart-quantity").text(data); // Update the cart quantity in the header
					},
					error: function () {
						console.log("Error updating cart quantity.");
					}
				});
			}

		</script>
		<!-- End main Content -->
		<!-- Start Search Popup -->
		<div th:replace="user/fragments/search_popup :: search_popup"></div>
		<!-- End Search Popup -->
		<!-- Footer Area -->
		<footer th:replace="user/fragments/footer :: footer"></footer>
		<!-- //Footer Area -->
	</div>
	<!-- //Main wrapper -->
	<!-- JS Files -->
	<script th:src="@{/js/user/vendor/jquery-3.2.1.min.js}"></script>
	<script th:src="@{/js/user/popper.min.js}"></script>
	<script th:src="@{/js/user/bootstrap.min.js}"></script>
	<script th:src="@{/js/user/plugins.js}"></script>
	<script th:src="@{/js/user/active.js}"></script>
</body>

</html>