<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Rook Book Store</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Favicons -->
	<link th:href="@{/images/favicon.ico}" rel="shortcut icon">
	<link th:href="@{/images/icon.png}" rel=" apple-touch-icon" }>

	<!-- Google font (font-family: 'Roboto', sans-serif; Poppins ; Satisfy) -->
	<link th:href="@{/css/user/open_sans.css}" rel="stylesheet">
	<link th:href="@{/css/user/poppins.css}" rel="stylesheet">
	<link th:href="@{/css/user/roboto.css}" rel="stylesheet">

	<!-- Stylesheets -->
	<link th:href="@{/css/user/bootstrap.min.css}" rel="stylesheet">

	<!-- Plugins css -->
	<link th:href="@{/css/user/font-awesome.min.css}" rel="stylesheet">
	<link th:href="@{/css/user/bicon.min.css}" rel="stylesheet">
	<link th:href="@{/css/user/pe-icon-7-stroke.css}" rel="stylesheet">
	<link th:href="@{/css/user/slick.min.css}" rel="stylesheet">
	<link th:href="@{/css/user/fakeloader.css}" rel="stylesheet">
	<link th:href="@{/css/user/nivo-slider.css}" rel="stylesheet">
	<link th:href="@{/css/user/nivo-preview-2.css}" rel="stylesheet">
	<link th:href="@{/css/user/owl.carousel.min.css}" rel="stylesheet">
	<link th:href="@{/css/user/owl.theme.default.min.css}" rel="stylesheet">
	<link th:href="@{/css/user/material-design-iconic-font.min.css}" rel="stylesheet">
	<link th:href="@{/css/user/animation.css}" rel="stylesheet">
	<link th:href="@{/css/user/fancybox.css}" rel="stylesheet">
	<link th:href="@{/css/user/mainmenu.css}" rel="stylesheet">
	<link th:href="@{/css/user/fotorama.css}" rel="stylesheet">
	<link th:href="@{/css/user/jquery-ui.min.css}" rel="stylesheet">
	<link th:href="@{/css/user/lightbox.css}" rel="stylesheet">
	<link th:href="@{/css/user/style.css}" rel="stylesheet">

	<!-- Cusom css -->
	<link th:href="@{/css/user/custom.css}" rel="stylesheet">

	<!-- Modernizer js -->
	<script th:src="@{/js/user/vendor/modernizr-3.5.0.min.js}"></script>

	<style>
		.mainmenu__nav .meninmenu li a {
			color: white;
		}
	</style>

	<style>
		.ft__logo a img {
			max-width: 20%;
		}
	</style>

</head>

<body>
	<!-- Main wrapper -->
	<div class="wrapper" id="wrapper">
		<!-- Header -->
		<header th:replace="user/fragments/header :: header"></header>
		<!-- //Header -->
		<!-- Start Search Popup -->
		<div th:replace="user/fragments/search_popup :: search_popup"></div>
		<!-- End Search Popup -->
		<!-- Start Bradcaump area -->
		<div th:replace="user/fragments/bradcaump_area :: bradcaump_area"></div>
		<!-- End Bradcaump area -->
		<!-- Start Shop Page -->
		<div class="page-shop-sidebar left--sidebar bg--white section-padding--lg">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-12 order-2 order-lg-1 md-mt-40 sm-mt-40">
						<div class="shop__sidebar">
							<aside class="wedget__categories poroduct--cat">
								<h3 class="wedget__title">Product Categories</h3>
								<ul>
									<li>
										<a href="#">Biography </a>
									</li>
									<li>
										<a href="#">Business </a>
									</li>
									<li>
										<a href="#">Cookbooks </a>
									</li>
									<li>
										<a href="#">Health & Fitness </a>
									</li>
									<li>
										<a href="#">History </a>
									</li>
								</ul>
							</aside>
						</div>
					</div>
					<div class="col-lg-9 col-12 order-1 order-lg-2">
						<div class="row">
							<div class="col-lg-12">
								<div
									class="shop__list__wrapper d-flex flex-wrap flex-md-nowrap justify-content-between">
									<div class="orderby__wrapper">
										<span>Sort By</span>
										<select class="shot__byselect">
											<option>Default sorting</option>
											<option>HeadPhone</option>
										</select>
									</div>
								</div>
							</div>
						</div>
						<div class="tab__container">
							<div class="shop-grid tab-pane fade show active" id="nav-grid" role="tabpanel">
								<div class="row">
									<!-- Start Single Product -->
									<div class="product product__style--3 col-lg-4 col-md-4 col-sm-6 col-12">
										<div class="product__thumb">
											<a class="first__img" href="product_details.html"><img
													src="images/prod2.jpg" alt="product image" /></a>
										</div>
										<div class="product__content content--center">
											<h4>
												<a href="product_details.html">robin parrish</a>
											</h4>
											<ul class="prize d-flex">
												<li>$35.00</li>
												<li class="old_prize">$35.00</li>
											</ul>
											<div class="action">
												<div class="actions_inner">
													<ul class="add_to_links">
														<li>
															<a class="cart" href="cart.html"><i
																	class="bi bi-shopping-bag4"></i></a>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
									<!-- End Single Product -->
									<!-- Start Single Product -->
									<div class="product product__style--3 col-lg-4 col-md-4 col-sm-6 col-12">
										<div class="product__thumb">
											<a class="first__img" href="product_details.html"><img
													src="images/books/3.jpg" alt="product image" /></a>
										</div>
										<div class="product__content content--center">
											<h4><a href="product_details.html">The Remainng</a></h4>
											<ul class="prize d-flex">
												<li>$35.00</li>
												<li class="old_prize">$35.00</li>
											</ul>
											<div class="action">
												<div class="actions_inner">
													<ul class="add_to_links">
														<li>
															<a class="cart" href="cart.html"><i
																	class="bi bi-shopping-bag4"></i></a>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
									<!-- End Single Product -->
								</div>
								<ul class="wn__pagination">
									<li class="active"><a href="#">1</a></li>
									<li><a href="#">2</a></li>
									<li><a href="#">3</a></li>
									<li><a href="#">4</a></li>
									<li>
										<a href="#"><i class="zmdi zmdi-chevron-right"></i></a>
									</li>
								</ul>
							</div>
							<div class="shop-grid tab-pane fade" id="nav-list" role="tabpanel">
								<div class="list__view__wrapper">
									<!-- Start Single Product -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Shop Page -->
		<!-- Footer Area -->
		<footer th:replace="user/fragments/footer :: footer"></footer>
		<!-- //Footer Area -->
	</div>
	<!-- //Main wrapper -->
	<!-- JS Files -->
	<script th:src="@{/js/user/vendor/jquery-3.2.1.min.js}"></script>
	<script th:src="@{/js/user/popper.min.js}"></script>
	<script th:src="@{/js/user/bootstrap.min.js}"></script>
	<script th:src="@{/js/user/plugins.js}"></script>
	<script th:src="@{/js/user/active.js}"></script>
</body>

</html>