<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Rook Book Store</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Favicons -->
	<link th:href="@{/images/favicon.ico}" rel="shortcut icon">
	<link th:href="@{/images/icon.png}" rel=" apple-touch-icon" }>

	<!-- Google font (font-family: 'Roboto', sans-serif; Poppins ; Satisfy) -->
	<link th:href="@{/css/user/open_sans.css}" rel="stylesheet">
	<link th:href="@{/css/user/poppins.css}" rel="stylesheet">
	<link th:href="@{/css/user/roboto.css}" rel="stylesheet">

	<!-- Stylesheets -->
	<link th:href="@{/css/user/bootstrap.min.css}" rel="stylesheet">

	<!-- Plugins css -->
	<link th:href="@{/css/user/font-awesome.min.css}" rel="stylesheet">
	<link th:href="@{/css/user/pe-icon-7-stroke.css}" rel="stylesheet">
	<link th:href="@{/css/user/slick.min.css}" rel="stylesheet">
	<link th:href="@{/css/user/fakeloader.css}" rel="stylesheet">
	<link th:href="@{/css/user/nivo-slider.css}" rel="stylesheet">
	<link th:href="@{/css/user/nivo-preview-2.css}" rel="stylesheet">
	<link th:href="@{/css/user/owl.carousel.min.css}" rel="stylesheet">
	<link th:href="@{/css/user/owl.theme.default.min.css}" rel="stylesheet">
	<link th:href="@{/css/user/material-design-iconic-font.min.css}" rel="stylesheet">
	<link th:href="@{/css/user/animation.css}" rel="stylesheet">
	<link th:href="@{/css/user/fancybox.css}" rel="stylesheet">
	<link th:href="@{/css/user/mainmenu.css}" rel="stylesheet">
	<link th:href="@{/css/user/fotorama.css}" rel="stylesheet">
	<link th:href="@{/css/user/jquery-ui.min.css}" rel="stylesheet">
	<link th:href="@{/css/user/lightbox.css}" rel="stylesheet">
	<link th:href="@{/css/user/style.css}" rel="stylesheet">

	<!-- Cusom css -->
	<link th:href="@{/css/user/custom.css}" rel="stylesheet">

	<!-- Modernizer js -->
	<script th:src="@{/js/user/vendor/modernizr-3.5.0.min.js}"></script>

	<style>
		.ft__logo a img {
			max-width: 20%;
		}
	</style>

</head>

<body class="sb-nav-fixed">
	<footer id="wn__footer" class="footer__area bg__cat--8 brown--color" th:fragment="footer">
		<div class="footer-static-top">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="footer__widget footer__menu">
							<div class="ft__logo">
								<a href="index.html">
									<img th:src="@{/images/logo/Rooks-Logo.png}" alt="logo" />
								</a>
							</div>
							<div class="footer__content">
								<ul class="social__net social__net--2 d-flex justify-content-center">
									<li>
										<a href="#"><i class="bi bi-facebook"></i></a>
									</li>
									<li>
										<a href="#"><i class="bi bi-google"></i></a>
									</li>
									<li>
										<a href="#"><i class="bi bi-twitter"></i></a>
									</li>
									<li>
										<a href="#"><i class="bi bi-linkedin"></i></a>
									</li>
									<li>
										<a href="#"><i class="bi bi-youtube"></i></a>
									</li>
								</ul>
								<ul class="mainmenu d-flex justify-content-center">
									<li><a href="index.html">Best Seller</a></li>
									<li><a href="index.html">All Product</a></li>
									<li><a href="index.html">Contact</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>

	<script th:src="@{/js/user/vendor/jquery-3.2.1.min.js}"></script>
	<script th:src="@{/js/user/popper.min.js}"></script>
	<script th:src="@{/js/user/bootstrap.min.js}"></script>
	<script th:src="@{/js/user/plugins.js}"></script>
	<script th:src="@{/js/user/active.js}"></script>
</body>

</html>